{% extends 'gestion/base.html' %}

{% block content %}
<h2>Liste des Usages</h2>
<a href="{% url 'ajouter_usage' %}" class="btn-ajouter">➕ Ajouter</a>
<ul>
    {% for item in usages %}
    <li>
        <span style="display: flex; align-items: center; gap: 10px;">
            <strong>{{ item.application.nom_application }}</strong> utilise {{ item.service.nom_service }}
        </span>
        <span>
            <a href="{% url 'modifier_usage' item.id %}" class="btn-action">✏️ Modifier</a> |
            <a href="{% url 'supprimer_usage' item.id %}" class="btn-action">🗑️ Supprimer</a>
        </span>
    </li>
    {% empty %}<li>Aucun usage trouvé.</li>{% endfor %}
</ul>
{% endblock %}
